{erl_opts, [debug_info]}.
{deps, [
    {jsx, "~> 3.0"},
    {bson, ".*",
        {git, "https://github.com/comtihon/bson-erlang", {tag, "v0.2.4"}}},
    {pbkdf2, ".*",
        {git, "https://github.com/comtihon/erlang-pbkdf2.git", {tag, "2.0.1"}}},
    {poolboy, ".*",
        {git, "https://github.com/comtihon/poolboy.git", {branch, "master"}}},
    {mongodb, ".*",
        {git, "https://github.com/comtihon/mongodb-erlang", {tag, "v3.2.0"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [cdc_server]}
]}.

{relx,
    [{release, {cdc_server, "0.0.1"}, [cdc_server]},
        {mode, prod},
        {dev_mode, false},
        {include_erts, true}]}.